$main-color1: #6ED4F4;
$main-color2: #E0C1AC;
$text-color: #57493D;

$screen-md: 768px;
$screen-lg: 1280px;

 // @media (min-width: $screen-md){
 //  position: absolute;
 //  left:50%;
 //  margin-left: -55px;
 //  }
